.section-3 {
  
    padding-top: 4rem;
    padding-bottom: 4rem;
     }
   
     .section-3 .section-3-content {
       align-items: center;
     }
     .section-3 .section-3-content h2 {
       margin-bottom: 1.5rem;
     }
     .section-3 .section-3-content h1{
       margin-bottom: 1.5rem;
     }
     .section-3 .section-3-content .famous p{
       color: var(--primary);
     }
    
     .section-3 .section-3-content .famous{
     background-color: var(--primary-light);
      width: 40%;
      padding-bottom: 3px;
      padding-top: 3px;
      font-style: italic;
      border-radius: 5px;
      border-left: solid 10px var(--primary-hover) ;
      text-align: center;
      
  }
     
     @media (min-width: 1200px) {
        /* @Desktop */
        .section-3 .section-3-content h1 {
            font-size: 5rem;
            
          }
        .section-3 .section-3-content h4 {
          font-size: 3rem;
         
        }
      
        .section-3 .section-3-content p {
          font-size: 2rem;
      
        }
    
      }
      
    @media (max-width: 1199px) {
        /* @Mobile */
        .section-3 {
          text-align: center;
          padding: 1rem;
        }
        .section-3 .section-3-content h1 {
            font-size: 3rem;
          }
      
        .section-3 .section-3-content h4 {
          font-size: 2rem;
        }
      
        .section-3 .section-3-content p {
          font-size: 1.5rem;
        }
      
      
      .famous{
       margin: 0 auto;
      }
      
      
    
      }